<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>

<body>
    <form id="adminform" class="forminput" method="POST" action="http://localhost:8081/adminIndex">
        <h2>Admin Menu for The Club Sandwich</h2>
        <br>
<div class="form-field">
        <span class="panel-body">
            <input type="submit" name="nav" value="Add Stock">
        </span>
        <span class="panel-body">
            <input type="submit" name="nav" value="View Stock">
        </span>
        <span class="panel-body">
            <input type="submit" name="nav" value="View Transactions">
        </span>
        </div>
        <br>
    </form>
</body>

</html>